.parallelogram {
    width: 700px;
    height: 400px;
    transform: skew(-20deg);
    background: #1a2537;
    border: none;
    box-shadow: 50px 50px #fabe76cc;
    display: inline-block;
}

.container {
    margin-top: -17%;
    z-index: 1;
    width: fit-content;
    height: fit-content;
    transform: translateX(-600%);
    animation: appear 1s 5.2s forwards;
    display: inline;
    position: relative;
}

@keyframes appear {
    from {
        transform: translateX(-600%);
    }

    to {
        transform: translateX(-30%);
    }
}

p {
    color: white;
    padding: 40px;
    transform: skew(15deg);
    font-family: 'La Belle Aurore';
    font-size: 24px;
}