.parallelogram {
    width: 670px;
    height: fit-content;
    border: none;
    display: inline-block;
    padding-right: 20px;
}

.container {
    margin-top: -11%;
    z-index: 1;
    height: fit-content;
    transform: translateX(-600%);
    animation: appear 1s 5.2s forwards;
    display: inline;
    position: relative;
    padding-bottom: 1in;
}

@keyframes appear {
    from {
        transform: translateX(-600%);
    }

    to {
        transform: translateX(0%);
    }
}

.about-data {
    color: black;
    font-size: 24px;
    line-height: 1.6;
}

.dp {
    height: fit-content;
    width: 30%;
    overflow: hidden;
    padding-left: 50px;
    box-shadow: 60px -26px #b1aeaf8e;
}

.about-title {
    color: black;
    font-size: 60px;
    font-weight: 1000;
    width: 350px;
    font-family: 'Roboto Condensed', sans-serif;
}