.contact-main {
    z-index: 1;
    width: fit-content;
    height: fit-content;
    margin-top: 50;
    position: relative;
    vertical-align: middle;
    align-items: center;
    display: inline-block;
}

.contact-sub1 {
    height: 800px;
    width: 700px;
    background: #1a2537;
    display: inline-block;
    margin: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 30px 30px #fabe76cc;
    transform: skew(-5deg);
}

.contact-sub2 {
    height: 300px;
    width: 750px;
    background: #1a2537;
    display: inline-block;
    margin: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 30px 30px #fabe76cc;
    transform: skew(-5deg);
}

.gap {
    padding: 50px;
}