.edu-title {
    color: black;
    font-size: 40px;
    font-weight: 1000;
    width: 350px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 43%;
    padding-top: 1.2in;
    padding-bottom: 0.5in;
}

.edu-container {
    width: fit-content;
    height: fit-content;
    display: flex;
}

.each-edu {
    width: 600px;
    background-color: white;
    height: 250px;
    display: flex;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 15px 18px 0px rgba(23.000000000000004, 23.000000000000004, 36, 0.03);
}

.year {
    width: 40%;
    border-right: solid rgba(128, 128, 128, 0.324);
    display: inline-block;
    padding-top: 10%;
}

.edu {
    display: inline-block;
    padding: 20px;
    width: 60%;
}

.duration {
    font-size: 20px;
    font-weight: 1000;
    font-family: 'Roboto Condensed', sans-serif;
}

.degree {
    font-size: 14px;
    font-weight: 500;
    line-height: 0.5cm;
}