.topnav {
    overflow: hidden;
    background-color: #f0d4d8;
    width: 100%;
    top: 0%;
    position: fixed;
    height: 67px;
    opacity: 0;
    animation: fadeIn 1.2s ease-in 1.2s forwards;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    font-weight: 800;
    box-shadow: 10px 10px 15px rgba(128, 128, 128, 0.134);
    font-family: 'Roboto Condensed', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 22px 26px;
    text-decoration: none;
    font-size: 21px;
}

.topnav a:hover {
    color: #835263;
}

.topnav a.active {
    color: #835263;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 100%) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 100%) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.button {
    height: 50px;
    width: 150px;
    font-size: 21px;
    vertical-align: middle;
    border: none;
    border-radius: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 900;
    box-shadow: 10px 15px 28px 0px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: black;
    color: white;
}

.nohover a:hover {
    background-color: #ab6c82;
}

.img {
    height: 67px;
    width: 70px;
    border: solid;
    border-color: #835263;
    position: relative;
    float: left;
    margin-top: 4px;
}

.menu {
    margin-left: 0%;
}

.sign {
    font-size: 50px;
    font-weight: 900;
    padding-left: 30px;
}