.topnav {
    overflow: hidden;
    background-color: #ab6c82;
    width: 100%;
    top: 0%;
    position: fixed;
    height: 67px;
    opacity: 0;
    animation: fadeIn 1.2s ease-in 1.2s forwards;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'La Belle Aurore';
    z-index: 2;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 36px;
    border-right: solid;
    border-width: 1px;
    border-color: #835263;
    text-decoration: none;
    font-size: 21px;
}

.topnav a:hover {
    background-color: #1a2537;
    color: white;
    border-width: 0px;
}

.topnav a.active {
    background-image: linear-gradient(-70deg, #e8c59a, #fcbb6d);
    color: black;
    border-width: 0px;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 100%) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 100%) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

.button {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border-color: #835263;
    font-family: 'La Belle Aurore';
    font-size: 21px;
    vertical-align: middle;
}

button:hover {
    background-color: #1a2537;
    color: white;
}

button:active {
    background-image: linear-gradient(-70deg, #e8c59a, #fcbb6d);
    color: black;
}

.nohover a:hover {
    background-color: #ab6c82;
}

.img {
    height: 67px;
    width: 70px;
    border: solid;
    border-color: #835263;
    position: relative;
    float: left;
    margin-top: 4px;
}