.pro-title {
    color: black;
    font-size: 40px;
    font-weight: 1000;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0.5in;
    text-align: center;
    margin-top: 100px;
}

.allp {
    width: fit-content;
    height: fit-content;
}

.row-pro {
    height: fit-content;
    width: fit-content;
    display: flex;
    margin-bottom: 80px;
}

.each-pro {
    width: 420px;
    height: 550px;
    margin: 20px;
    background-color: white;
    box-shadow: 10px 15px 18px 0px rgba(23.000000000000004, 23.000000000000004, 36, 0.1);
    text-align: left;
}

.each-pro-title {
    background-color: black;
    height: 90px;
    width: 420px;
    padding: 0%;
    font-weight: 800;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 45px;
}

.each-pro:hover>.each-pro-title {
    background-color: #835263;
}

.proj-content {
    font-size: larger;
    padding: 30px;
    font-weight: 500;
}

.tech {
    font-weight: 700;
    text-align: center;
}

.tech a {
    padding-right: 50px;
    padding-left: 40px;
}

@media screen and (max-width:1000px) {
    .row-pro {
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .each-pro {
        width: 320px;
        height: fit-content;
        margin: 20px;
        background-color: white;
        box-shadow: 10px 15px 18px 0px rgba(23.000000000000004, 23.000000000000004, 36, 0.1);
        text-align: left;
    }

    .each-pro-title {
        background-color: black;
        height: fit-content;
        width: 320px;
        padding: 0%;
        font-weight: 800;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
        font-size: 30px;
        text-align: center;
        padding-top: 45px;
        padding: 20px;
    }

}

@media (min-width:800px) and (max-width:1000px) {
    .row-pro {
        height: fit-content;
        width: fit-content;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .each-pro {
        width: 70vw;
        height: fit-content;
        margin: 60px;
        background-color: white;
        box-shadow: 10px 15px 18px 0px rgba(23.000000000000004, 23.000000000000004, 36, 0.1);
        text-align: left;
    }

    .each-pro-title {
        background-color: black;
        height: fit-content;
        width: 70vw;
        padding: 0%;
        font-weight: 800;
        font-family: 'Roboto Condensed', sans-serif;
        color: white;
        font-size: 30px;
        text-align: center;
        padding-top: 45px;
        padding: 20px;
    }

}