vdown {
    height: 0px;
    width: 1px;
    border-bottom: 2px solid;
    -webkit-animation: draw1 1.5s, fadeOut 1.5s 4s;
    -o-animation: draw1 1.5s, fadeOut 1.5s 4s;
    -moz-animation: draw1 1.5s, fadeOut 1.5s 4s;
    animation: draw1 1.5s, fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
    transform-origin: 0 100%;
    transform: rotate(68deg);
    border-radius: 99px;
    position: absolute;
}

vdown3 {
    height: 0px;
    width: 1px;
    border-bottom: 2px solid;
    margin-left: 5px;
    animation: draw1 1.5s, fadeOut 1.5s 4s;
    -webkit-animation: draw1 1.5s, fadeOut 1.5s 4s;
    -o-animation: draw1 1.5s, fadeOut 1.5s 4s;
    -moz-animation: draw1 1.5s, fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
    transform-origin: 0 100%;
    transform: rotate(68deg);
    border-radius: 99px;
    position: absolute;
}

vdown2 {
    height: 0px;
    width: 1px;
    border-bottom: 2px solid;
    margin-left: 5px;
    transform-origin: 0 100%;
    transform: rotate(68deg);
    border-radius: 99px;
    position: absolute;
    animation: draw3 1.5s normal 1.5s, fadeOut 1.5s 4s;
    -webkit-animation: draw3 1.5s normal 1.5s, fadeOut 1.5s 4s;
    -o-animation: draw3 1.5s normal 1.5s, fadeOut 1.5s 4s;
    -moz-animation: draw3 1.5s normal 1.5s, fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
    z-index: 2;
}


vup {
    height: 0px;
    width: 1px;
    border-bottom: 2px solid;
    margin-top: 91px;
    margin-left: 44.3px;
    animation: draw2 1.5s, fadeOut 1.5s 4s;
    -webkit-animation: draw2 1.5s, fadeOut 1.5s 4s;
    -o-animation: draw2 1.5s, fadeOut 1.5s 4s;
    -moz-animation: draw2 1.5s, fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
    transform-origin: 0 100%;
    transform: rotate(-68deg);
    position: absolute;
    border-radius: 99px;
}

vup3 {
    height: 0px;
    width: 1px;
    border-bottom: 2px solid;
    margin-top: 87px;
    margin-left: 41.3px;
    animation: draw5 1.5s, fadeOut 1.5s 4s;
    -webkit-animation: draw5 1.5s, fadeOut 1.5s 4s;
    -o-animation: draw5 1.5s, fadeOut 1.5s 4s;
    -moz-animation: draw5 1.5s, fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
    transform-origin: 0 100%;
    transform: rotate(-68deg);
    position: absolute;
    border-radius: 99px;
}

vup2 {
    height: 0px;
    width: 1px;
    border-bottom: 2px solid;
    margin-top: 91px;
    margin-left: 44.3px;
    animation: draw4 1.5s normal 1.5s, fadeOut 1.5s 4s;
    -webkit-animation: draw4 1.5s normal 1.5s, fadeOut 1.5s 4s;
    -o-animation: draw4 1.5s normal 1.5s, fadeOut 1.5s 4s;
    -moz-animation: draw4 1.5s normal 1.5s, fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
    transform-origin: 0 100%;
    transform: rotate(-68deg);
    position: absolute;
    border-radius: 99px;
}

@keyframes draw1 {
    100% {
        border-color: black;
        width: 98.1px;
    }
}

@keyframes draw2 {
    100% {
        border-color: black;
        width: 103px;
    }
}

@keyframes draw5 {
    100% {
        border-color: black;
        width: 105px;
    }
}

@keyframes draw3 {
    100% {
        border-color: #e9909a;
        width: 98.1px;
    }
}

@keyframes draw4 {
    100% {
        border-color: #e9909a;
        width: 103px;
    }
}

.V {
    margin-top: 150px;
    margin-left: -60px;
}


c3 {
    border: 2px solid;
    border-color: transparent;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: -29px;
    margin-left: -39px;
    position: absolute;
    animation: ccolor1 1.5s ease-in 1.5s, cdisappear2 1.2s 4s;
    -webkit-animation: ccolor1 1.5s ease-in 1.5s, cdisappear2 1.2s 4s;
    -o-animation: ccolor1 1.5s ease-in 1.5s, cdisappear2 1.2s 4s;
    -moz-animation: ccolor1 1.5s ease-in 1.5s, cdisappear2 1.2s 4s;
    animation-fill-mode: forwards;
}

c2 {
    border: 2px solid;
    margin-top: -23px;
    margin-left: -37px;
    border-color: transparent;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    animation: ccolor2 1.5s ease-in 0s, cdisappear1 1.2s 4s;
    -webkit-animation: ccolor2 1.5s ease-in 0s, cdisappear1 1.2s 4s;
    -o-animation: ccolor2 1.5s ease-in 0s, cdisappear1 1.2s 4s;
    -moz-animation: ccolor2 1.5s ease-in 0s, cdisappear1 1.2s 4s;
    animation-fill-mode: forwards;
}

@keyframes ccolor1 {
    100% {
        border-color: black transparent black black;
    }
}

@keyframes ccolor2 {
    0% {
        transform: rotate(0deg);
        border-color: #e9909a transparent #e9909a #e9909a;
    }

    50% {
        transform: rotate(-180deg);
        border-color: #e9909a transparent #e9909a #e9909a;
    }

    100% {
        transform: rotate(-360deg);
        border-color: #e9909a transparent #e9909a #e9909a;
    }
}

@keyframes cdisappear1 {
    0% {
        transform: rotate(0deg);
        border-color: #e9909a transparent #e9909a #e9909a;
    }

    0% {
        transform: rotate(0deg);
        border-color: transparent transparent #e9909a #e9909a;
    }

    50% {
        transform: rotate(-180deg);
        border-color: transparent transparent #e9909a transparent;
    }

    100% {
        transform: rotate(-360deg);
        border-color: transparent transparent transparent transparent;
    }
}

@keyframes cdisappear2 {
    0% {
        transform: rotate(0deg);
        border-color: black transparent black black;
    }

    33% {
        transform: rotate(0deg);
        border-color: transparent transparent black black;
    }

    66% {
        transform: rotate(-180deg);
        border-color: transparent transparent black transparent;
    }

    100% {
        transform: rotate(-360deg);
        border-color: transparent transparent transparent transparent;
    }
}

@keyframes focus-in-contract {

    0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
        visibility: visible;
    }

    100% {
        filter: blur(0);
        opacity: 1;
        visibility: visible;
    }
}

.at-item {
    color: black;
    font-weight: bold;
    font-size: 2em;
    margin: 5px;
    visibility: hidden;
    animation: focus-in-contract 0.7s linear 1.5s, fadeOut 1.2s 4s;
    -webkit-animation: focus-in-contract 0.7s linear 1.5s, fadeOut 1.2s 4s;
    -o-animation: focus-in-contract 0.7s linear 1.5s, fadeOut 1.2s 4s;
    -moz-animation: focus-in-contract 0.7s linear 1.5s, fadeOut 1.2s 4s;
    animation-fill-mode: forwards;
    font-family: 'Roboto Condensed', sans-serif;
}

.at-container {
    display: inline-flex;
    margin-top: 190px;
}

@media screen and (max-width: 800px) {
    .at-container {
        display: flex;
        flex-direction: column;
        margin-top: 320px;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.line {
    width: 20%;
    margin-top: -70px;
    height: 1px;
    background-color: black;
    animation: drawLine 2s linear, fadeOut 1.5s 4s;
    -webkit-animation: drawLine 2s linear, fadeOut 1.5s 4s;
    -o-animation: drawLine 2s linear, fadeOut 1.5s 4s;
    -moz-animation: drawLine 2s linear, fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.line2 {
    width: 20%;
    margin-top: -67px;
    height: 1px;
    background-color: black;
    animation: drawLine2 2s linear, fadeOut 1.5s 4s;
    -webkit-animation: drawLine2 2s linear, fadeOut 1.5s 4s;
    -o-animation: drawLine2 2s linear, fadeOut 1.5s 4s;
    -moz-animation: drawLine2 2s linear, fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes drawLine {
    0% {
        width: 0%;
    }

    100% {
        width: 20%;
    }
}

@keyframes drawLine2 {
    0% {
        width: 0%;
    }

    100% {
        width: 30%;
    }
}

@keyframes drawLine3 {
    0% {
        width: 0%;
    }

    100% {
        width: 40%;
    }
}

@keyframes drawLine4 {
    0% {
        width: 0%;
    }

    100% {
        width: 50%;
    }
}

@media (min-width: 800px) and (max-width: 1225px) {
    .line {
        width: 40%;
        height: 1px;
        margin-top: -20%;
        background-color: black;
        animation: drawLine3 2s linear, fadeOut 1.5s 4s;
        -webkit-animation: drawLine3 2s linear, fadeOut 1.5s 4s;
        -o-animation: drawLine3 2s linear, fadeOut 1.5s 4s;
        -moz-animation: drawLine3 2s linear, fadeOut 1.5s 4s;
        animation-fill-mode: forwards;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .line2 {
        width: 40%;
        height: 1px;
        margin-top: -19.5%;
        background-color: black;
        animation: drawLine4 2s linear, fadeOut 1.5s 4s;
        -webkit-animation: drawLine4 2s linear, fadeOut 1.5s 4s;
        -o-animation: drawLine4 2s linear, fadeOut 1.5s 4s;
        -moz-animation: drawLine4 2s linear, fadeOut 1.5s 4s;
        animation-fill-mode: forwards;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 800px) {
    .line {
        width: 40%;
        height: 1px;
        margin-top: -9%;
        background-color: black;
        animation: drawLine3 2s linear, fadeOut 1.5s 4s;
        -webkit-animation: drawLine3 2s linear, fadeOut 1.5s 4s;
        -o-animation: drawLine3 2s linear, fadeOut 1.5s 4s;
        -moz-animation: drawLine3 2s linear, fadeOut 1.5s 4s;
        animation-fill-mode: forwards;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .line2 {
        width: 40%;
        height: 1px;
        margin-top: -8.5%;
        background-color: black;
        animation: drawLine4 2s linear, fadeOut 1.5s 4s;
        -webkit-animation: drawLine4 2s linear, fadeOut 1.5s 4s;
        -o-animation: drawLine4 2s linear, fadeOut 1.5s 4s;
        -moz-animation: drawLine4 2s linear, fadeOut 1.5s 4s;
        animation-fill-mode: forwards;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}