line {
    height: 0px;
    width: 1px;
    border-bottom: 1px solid black;
    animation: increase 1.5s, fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
}

line2 {
    padding-top: 2px;
    height: 0px;
    width: 1px;
    border-bottom: 1px solid black;
    animation: increase2 1.5s normal 1.5s,
        fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
}

@keyframes increase {
    100% {
        width: 300px;
    }
}

@keyframes increase2 {
    100% {
        width: 500px;
    }
}

vdown {
    height: 0px;
    width: 1px;
    border-bottom: 2px solid;
    margin-bottom: 93px;
    margin-left: 45.5px;
    -webkit-animation: draw1 1.5s;
    animation: draw1 1.5s,
        fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
    transform-origin: 0 100%;
    transform: rotate(68deg);
    border-radius: 99px;
    position: absolute;
}

vdown3 {
    height: 0px;
    width: 1px;
    border-bottom: 2px solid;
    margin-bottom: 93px;
    margin-left: 40.5px;
    animation: draw1 1.5s,
        fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
    transform-origin: 0 100%;
    transform: rotate(68deg);
    border-radius: 99px;
    position: absolute;
}

vdown2 {
    height: 0px;
    width: 1px;
    border-bottom: 2px solid;
    margin-bottom: 93px;
    margin-left: 45.5px;
    animation: draw3 1.5s normal 1.5s,
        fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
    transform-origin: 0 100%;
    transform: rotate(68deg);
    border-radius: 99px;
}


vup {
    height: 0px;
    width: 1px;
    border-bottom: 2px solid;
    margin-top: 88px;
    margin-left: 85px;
    animation: draw2 1.5s,
        fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
    transform-origin: 0 100%;
    transform: rotate(-68deg);
    position: absolute;
    border-radius: 99px;
}

vup3 {
    height: 0px;
    width: 1px;
    border-bottom: 2px solid;
    margin-top: 88px;
    margin-left: 82.2px;
    margin-bottom: 12px;
    animation: draw5 1.5s,
        fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
    transform-origin: 0 100%;
    transform: rotate(-68deg);
    position: absolute;
    border-radius: 99px;
}

vup2 {
    height: 0px;
    width: 1px;
    border-bottom: 2px solid;
    margin-top: 88px;
    margin-left: 85px;
    animation: draw4 1.5s normal 1.5s,
        fadeOut 1.5s 4s;
    animation-fill-mode: forwards;
    transform-origin: 0 100%;
    transform: rotate(-68deg);
    position: absolute;
    border-radius: 99px;
}

@keyframes draw1 {
    100% {
        border-color: black;
        width: 98.1px;
    }
}

@keyframes draw2 {
    100% {
        border-color: black;
        width: 103px;
    }
}

@keyframes draw5 {
    100% {
        border-color: black;
        width: 105px;
    }
}

@keyframes draw3 {
    100% {
        border-color: #e9909a;
        width: 98.1px;
    }
}

@keyframes draw4 {
    100% {
        border-color: #e9909a;
        width: 103px;
    }
}

.V {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 10%;
}


c3 {
    border: 2px solid;
    border-color: transparent;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: -12px;
    margin-left: -1.4px;
    position: absolute;
    margin-right: 20px;
    animation: ccolor1 1.5s ease-in 1.5s,
        cdisappear2 1.2s 4s;
    animation-fill-mode: forwards;
}

c2 {
    border: 2px solid;
    border-color: transparent;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: absolute;
    margin-right: 20px;
    animation: ccolor2 1.5s ease-in 0s, cdisappear1 1.2s 4s;
    animation-fill-mode: forwards;
}

@keyframes ccolor1 {
    100% {
        border-color: black transparent black black;
    }
}

@keyframes ccolor2 {
    0% {
        transform: rotate(0deg);
        border-color: #e9909a transparent #e9909a #e9909a;
    }

    50% {
        transform: rotate(-180deg);
        border-color: #e9909a transparent #e9909a #e9909a;
    }

    100% {
        transform: rotate(-360deg);
        border-color: #e9909a transparent #e9909a #e9909a;
    }
}

@keyframes cdisappear1 {
    0% {
        transform: rotate(0deg);
        border-color: #e9909a transparent #e9909a #e9909a;
    }

    0% {
        transform: rotate(0deg);
        border-color: transparent transparent #e9909a #e9909a;
    }

    50% {
        transform: rotate(-180deg);
        border-color: transparent transparent #e9909a transparent;
    }

    100% {
        transform: rotate(-360deg);
        border-color: transparent transparent transparent transparent;
    }
}

@keyframes cdisappear2 {
    0% {
        transform: rotate(0deg);
        border-color: black transparent black black;
    }

    33% {
        transform: rotate(0deg);
        border-color: transparent transparent black black;
    }

    66% {
        transform: rotate(-180deg);
        border-color: transparent transparent black transparent;
    }

    100% {
        transform: rotate(-360deg);
        border-color: transparent transparent transparent transparent;
    }
}

@keyframes focus-in-contract {

    0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
        visibility: visible;
    }

    100% {
        filter: blur(0);
        opacity: 1;
        visibility: visible;
    }
}

.at-item {
    padding-top: 20px;
    color: black;
    font-weight: bold;
    font-size: 2em;
    visibility: hidden;
    animation: focus-in-contract 0.7s linear 1.5s, fadeOut 1.2s 4s;
    animation-fill-mode: forwards;
    font-family: 'Roboto Condensed', sans-serif;
}

div.at-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}