.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

body {
  background-color: #395379;
  background-image: linear-gradient(-70deg, #395379, #ab6c82c6);
  background-attachment: fixed;
  background-position: 0 0px;
  background-repeat: no-repeat;
  z-index: -1;
}

.mainc {
  top: 100px;
  left: 100px;
  position: absolute;
}